<%# <% provide :my_title, "故事首頁" %>
<% if user_signed_in? %>
<div class="title-notice">
  <h1 class='title'>您好，
  <%= current_user.username %>
  </h1>
</div>
<% end %>
<section class="columns is-desktop">

  <!-- right -->
  <section class="column is-2-desktop is-full-mobile story-container">

    <h2 class="title is-3 big-title has-text-centered">公告</h2>
    <hr>

    <article class="story-item">
      <figure class="public-img">
        <img src="https://fakeimg.pl/200x200/f0f0f0?text=NO DEMO" alt="">
      </figure>

      <h2 class="title is-5">網站架設</h2>
      <p class="content">測試中...</p>
    </article>

  </section>
  <!-- right -->
  <!-- left -->
  <section class="column is-9-desktop is-full-mobile story-container oringin-container">
    <h2 class="title is-3 big-title has-text-centered">最新故事</h2>
    <hr>
    <div class="columns is-desktop">
      <div class="column is-8-desktop is-full-mobile">
        <% @new_story_first.each do |story| %>
        <article class="media story-item is-big">

          <div class="story-item-top">
            <% if story.user.avatar.attached? %>
              <%= image_tag story.user.avatar.variant(resize: '50x50'), class: 'avatar' %>
            <% else %>
              <img src="https://fakeimg.pl/50x50/f0f0f0?text=NO IMAGE" class="avatar">
            <% end %>
            <div class="user-info">
              <%= link_to story.user.username, user_page_path(story.user.username), class: 'has-text-grey-dark'%>
              <%= time_ago_in_words(story.created_at) %>
            </div>
          </div>

          <div class="story-content">
            <p class="content"><%= strip_tags(story.content).truncate(50)+' ...' %></p>
            <% if story.cover_image.attached? %>
            <figure class="media-right">
              <%= image_tag story.cover_image.variant(resize: '500x500') %>
            </figure>
            <% else %>
            <figure class="media-right">
              <img src="https://fakeimg.pl/500x500/f0f0f0?text=NO IMAGE" alt="">
            </figure>
            <% end %>
            <h2 class="title is-2"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
          </div>
    
        </article>
        <% end %>
      </div>
    <!-- left -->
    <!-- middle -->
      <div class="column is-full-mobile">

        <% @new_stories_sec_list.each do |story| %>
        <article class="media story-item is-medium">

          <div class="story-item-top">
            <% if story.user.avatar.attached? %>
              <%= image_tag story.user.avatar.variant(resize: '50x50'), class: 'avatar' %>
            <% else %>
              <img src="https://fakeimg.pl/50x50/f0f0f0?text=NO IMAGE" class="avatar">
            <% end %>
            <div class="user-info">
              <%= link_to story.user.username, user_page_path(story.user.username), class: 'has-text-grey-dark'%>
              <%= time_ago_in_words(story.created_at) %>
            </div>
          </div>

          <div class="story-content">
            <p class="content"><%= strip_tags(story.content).truncate(50)+' ...' %></p>
            <% if story.cover_image.attached? %>
            <figure class="media-right">
              <%= image_tag story.cover_image.variant(resize: '150x150') %>
            </figure>
            <% else %>
            <figure class="media-right">
              <img src="https://fakeimg.pl/150x150/f0f0f0?text=NO IMAGE" alt="">
            </figure>
            <% end %>
            <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
          </div>
          
        </article>
        <% end %>

      </div>
    </div>
  </section>
  <!-- middle -->
</section>

<hr>

<%# <section class="columns"> %>
  <!-- article list -->
  <section class="column story-container">
    <h2 class="title is-3 big-title has-text-centered">已追蹤</h2>
    <hr>
    <h3 class="has-text-centered">(敬請期待)</h3>
    <%# <%= current_user.follow_ids %>
  </section>
  <!-- article list -->

  <section class="column story-container">

    <hr>
    <h2 class="title is-3 big-title has-text-centered">熱門故事</h2>
    <hr>

    <% @stories_hot_list.each do |story| %>
    <article class="media story-item">

      <div class="story-item-top">
        <% if story.user.avatar.attached? %>
          <%= image_tag story.user.avatar.variant(resize: '50x50'), class: 'avatar' %>
        <% else %>
          <img src="https://fakeimg.pl/50x50/f0f0f0?text=NO IMAGE" class="avatar">
        <% end %>
        <div class="user-info">
          <%= link_to story.user.username, user_page_path(story.user.username), class: 'has-text-grey-dark'%>
          <%= time_ago_in_words(story.created_at) %>
        </div>
      </div>

      <div class="story-content">
        <h2 class="title is-3"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
        <p class="content"><%= strip_tags(story.content).truncate(50) %></p>
      </div>

      <%if story.cover_image.attached? %>
      <figure class="media-right">
        <%= image_tag story.cover_image.variant(resize: '200x200') %>
      </figure>
      <% else %>
      <figure class="media-right">
        <img src="https://fakeimg.pl/200x200/f0f0f0?text=NO IMAGE" alt="">
      </figure>
      <% end %>

    </article>
    <% end %>
  </section>
<%# </section> %>